

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $("#div1").load("https://api.nasa.gov/insight_weather/?api_key=NcKMjeHHC1KUE9P03JuNaJA5vphTjexO9KzCcPh4&feedtype=json&ver=1.0");
            });
        });
    </script>
</head>
<body>

    <div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>
    <iframe src='https://mars.nasa.gov/layout/embed/image/insightweather/' width='800' height='530' scrolling='no' frameborder='0'></iframe>
    <button>Get USGS Stream Data!</button>

</body>

